.one{
  background: url("../../../public/images/minesweeper.png") 0 2px/ 1000% no-repeat;
}
.two{
  background: url("../../../public/images/minesweeper.png") -25px 2px/ 1000% no-repeat;
}
.three{
  background: url("../../../public/images/minesweeper.png") -51px 2px/ 1000% no-repeat;
}
.four{
  background: url("../../../public/images/minesweeper.png") -76px 2px/ 1000% no-repeat;
}
.five{
  background: url("../../../public/images/minesweeper.png") -103px 2px/ 1000% no-repeat;
}
.six{
  background: url("../../../public/images/minesweeper.png") -130px 2px/ 1000% no-repeat;
}
.seven{
  background: url("../../../public/images/minesweeper.png") -158px 2px/ 1000% no-repeat;
}
.eight{
  background: url("../../../public/images/minesweeper.png") -182px 2px/ 1000% no-repeat;
}
.nine{
  background: url("../../../public/images/minesweeper.png") -208px 2px/ 1000% no-repeat;
}
.zero{
  background: url("../../../public/images/minesweeper.png") -235px 2px/ 1000% no-repeat;
}